@font-face {
  font-family: abeatbyKaiRegular ;
  src: url("/assets/font/abeatbyKaiRegular.otf") format("openType");
}

@font-face {
  font-family: Inter ;
  src: url("/assets/font/Inter.ttf") format("TrueType");
}


$color-violet: #5613AC;

$color-violet-2: #9747FF;


/**
  text with border
 */
.text-effect-a{
  color: white;
  font-family: Inter , sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-shadow: $color-violet 1px 0px 0px, rgb(86, 19, 172) 0.540302px 0.841471px 0px, rgb(86, 19, 172) -0.416147px 0.909297px 0px, rgb(86, 19, 172) -0.989992px 0.14112px 0px, rgb(86, 19, 172) -0.653644px -0.756802px 0px, rgb(86, 19, 172) 0.283662px -0.958924px 0px, rgb(86, 19, 172) 0.96017px -0.279415px 0px;
}

.bg-effect-bulle{
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(86,19,172,1) 0%, rgba(0,0,0,1) 100%);

}


